body {

}
#blur {
  overflow:hidden;
  width:95%;
  height:95%;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: cover !important;

      background-image: url(../img/coffee-coffee-beans-java-2645317-1920x1080.jpg);
      background-size: 90%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  margin: -5px -10px -10px 0px;

}
h1{
	color:white;
}
.fikaGenerator{
	margin-left: 40%;
  color:#fdc477;
  width:50%;
  height:10%;
  margin:0 auto;
  font-size:4em;
  text-align:center;
}
.fikaGenerator h1{

  size:12em;
}

.displayFika{
  margin:0 auto;
  text-align:center;
  color:#fff;
  width:70%;
  height:20%;
}
.fika {
  display:inline-block;

    font-size:2.5em;
}
.dryck {

    display:inline-block;

      font-size:2.5em;
}
.divider {
  font-size:4em;
  padding-left:20px;
  padding-right:20px;

    display:inline-block;
}
.wrapper{


}
